@import "../../global-styles/variables.scss";

.header {
    background-color: $red;
    height: 50px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    height: 100%;
}

.logo {
    height: auto;
    max-height: 100%;
    width: 100%;
}